@font-face {
    font-family: Karla;
    src: url("/assets/fonts/Karla-VariableFont_wght.ttf");
}

:root {
    --green-light: hsl(148, 38%, 91%);
    --green: hsl(169, 82%, 27%);
    --red: hsl(0, 66%, 54%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(186, 15%, 59%);
    --grey-dark: hsl(187, 24%, 22%);
    font-family: Karla, sans-serif;

    color-scheme: light;
    /* color: rgba(255, 255, 255, 0.87); */
    background-color: var(--green-light);
    color: var(--grey-dark);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
